* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

#menu__toggle {
	display: none;
}

.wrapper {
	width: 1200px;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.wrapper_footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.wrapper_header {
	display: grid;
	grid-template-columns: 1fr 2fr;
  gap: 0 33.5rem;
}

header {
	margin: 0 auto;
	padding-top: 1.75rem;
	padding-bottom: 1.24rem;
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 2em;
	letter-spacing: 0.06em;
	color: #545454;
	font-weight: normal;
}

.logo_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.81em;
	padding: 0.8em 0.39em;
	letter-spacing: 0.1em;
	color: #292929;
}

a {
	color: #545454;
}

.header_menu_items {
	display: flex;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.94em;
	padding-top: 1.25rem;
}

.active {
	border-bottom: 3px solid #F1CDB3;
	padding-bottom: 3px;
  color: #292929;
}

main {
  padding-top: 7.5rem;
  background-color: #F6F6F6;
}

.pets_h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.19em;
  font-weight: normal;
  color: #545454;
  text-align: center;
	padding: 2.3em 1em 1.7em;
  letter-spacing: 0.06em;
  line-height: 130%;
}

#message_pets_block {
	position: fixed;
  background: #0008;
  top: 0;
  left: 0;
  width: 100vw;
	height: 100vh;
	display: none;
	cursor: pointer;
}

#message_pet {
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: absolute;
	top: 30%;
	left: 26%;
	border: none;
	border-radius: 10px;
	background: #FAFAFA;
	max-width: 900px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 30px;
	cursor: auto;
}

.message_pet_img {
	width: 500px;
	height: 500px;
}

.message_pet_img > img {
	width: 100%;
}

.pet_name {
	font-size: 35px;
	padding: 53px 0 11px;
	letter-spacing: 0.06em;
}

.pet_about {
	font-size: 20px;
	letter-spacing: 0.06em;
}

.pet_description,
.pet_item {
	font-size: 15px;
}

.pet_description {
	padding: 40px 20px 40px 0;
	letter-spacing: 0.06em;
}

.pet_list {
	padding: 0 0 0 16px;
}

.pet_item {
	color: #F1CDB3;
	padding-bottom: 12px;
	letter-spacing: 0.05em;
}

.pet_item_value {
	font-weight: 700;
	color: black;
}

.pet_age,
.pet_inoculations,
 .pet_diseases, 
 .pet_parasites {
	font-weight: 400;
	color: black;
}

.pet_list {
	list-style: disc;
}

.message_btn {
	width: 52px;
	height: 52px;
	background-color: transparent;
	border: 2px solid #F1CDB3;
	position: absolute;
	top: 24%;
	left: 72.5%;
	cursor: pointer;
}

.layout_block {
	display: grid;
  grid-template-areas:
  "a a a a"
	"a a a a";
  gap: 1.9rem 2.5rem;
}

.slider {
	text-align: center;
	background-color: #FAFAFA;
	border-radius: 12px;
}

.slider_name-pets {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.2em;
	color: #545454;
  letter-spacing: 0.06rem;
	padding-top: 1.6rem;
	padding-bottom: 1.99rem;
}

.slider_btn {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	color: #292929;
	border: 2px solid #F1CDB3;
	border-radius: 30px;
	background-color: transparent;
	width: 187px;
	margin-bottom: 1.84rem;
}

button {
	color: #292929;
	background-color: #F1CDB3;
	border: none;
	outline: none;
	width: 207px;
	height: 52px;
	border-radius: 26px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	letter-spacing: 0.06rem;
}

button:hover {
	background-color: #FDDCC4;
	cursor: pointer;
}

.pagination_block {
  padding: 3.7rem 26.8rem 6.3rem;
}

.pagination {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  font-size: 20px;
  margin-right: 16px;
  letter-spacing: -0.1em;
  text-align: center;
}

.start_pagination,
.prev_pagination,
.next_pagination,
.end_pagination {
  background-color: transparent;
  border: 2px solid #F1CDB3;
}

.end_pagination {
	margin-right: 0;
}

.disabled_btn {
	color: #CDCDCD;
  background-color: transparent;
  border: 2px solid #CDCDCD;
}

footer {
	padding-top: 1.7rem;
	background: url('../../assets/noise_transparent@2x.png'), linear-gradient(to right, #544336, #292929);
}

.wrapper_footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 7.1em;
}

.footer_h3 {
	color: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-size: 2.2em;
	line-height: 130%;
	letter-spacing: 0.06em;
}

.question_block,
.map_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-start;
	padding-top: 1.9em;
	margin-right: 0.7em;
}

.footer_link {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-size: 1.25em;
	color: #F1CDB3;
	padding-top: 0;
	margin-top: -20px;
}

.footer_email {
	padding: 0.5em 3em;
	background-image: url('../../assets/icon-email.png');
	background-repeat: no-repeat;
	background-position: 0 0.25em;
	letter-spacing: 0.06em;
	margin-top: 1.65em;
}

.footer_phone {
	padding: 0.5em 3em;
	background-image: url('../../assets/icon-phone.png');
	background-repeat: no-repeat;
	background-position: 0 0.25em;
	letter-spacing: 0.06em;
	margin-top: 1.5em;
}

.footer_map {
	padding: 0.05em 0 0 2.1em;
	background-image: url('../../assets/icon-marker.png');
	background-repeat: no-repeat;
	background-position: 0px 0.35em;
	letter-spacing: 0.06em;
	margin-top: 1.5em;
}

.footer_map_2 {
	padding: 3em 0 1em 2.1em;
	background-image: url('../../assets/icon-marker.png');
	background-repeat: no-repeat;
	background-position: 0px 2.7em;
	letter-spacing: 0.06em;
}

.img_block {
	padding-left: 1.6em;
	padding-top: 0.5em;
}

.slider_btn:hover,
.active_pagination:hover,
.next_pagination:hover,
.end_pagination:hover
h1:hover {
  cursor: pointer;
}

.header_menu_item > a:hover {
	color: #292929;
}

.slider_btn:hover,
.active_pagination:hover,
.next_pagination:hover,
.end_pagination:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.slider:hover {
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* media */

@media (min-width: 768px) and (max-width: 1279px) {
	header,
	main,
	footer {
		width: 100vw;
	}

	#menu__toggle {
		display: none;
	}

	.wrapper {
		width: auto;
		padding: 0 1rem;
	}

	.wrapper_header {
		padding: 0 1.9rem;
		grid-template-columns: 1fr 2fr;
		gap: 0;
	}

	header {
		padding-top: 1.8rem;
    padding-bottom: 1.2rem;
	}

	.header_menu_items {
		padding-left: 29px;
	}

	main {
		padding: 0;
	}

	.pets_h3 {
		padding: 5.7em 1em 0.85em;;
	}

	#message_pet {
		max-width: 630px;
		top: 38%;
    left: 11%;
	}

	.message_pet_img {
		width: 350px;
		height: 350px;
	}

	.pet_name {
		padding: 10px 0;
	}

	.pet_description {
		font-size: 13px;
		padding: 20px 10px 20px 0;
	}

	.pet_item {
		padding-bottom: 5px;
	}

	.message_btn {
		top: 32%;
		left: 92.5%;
		cursor: pointer;
	}

	.layout_block {
		grid-template-areas: 
		"a a"
		"a a"
		"a a";
		padding: 0 5rem;
	}

	.slider_btn {
		margin-bottom: 30px;
	}

	.pagination_block {
		padding: 2.4rem 12.3rem 4.73rem;
	}

	.question_block {
		grid-area: q;
		padding-top: 0.2rem;
		margin-right: 1rem;
		margin-left: 3rem;
	}

	.map_block {
		grid-area: m;
		padding-top: 0.2rem;
		margin-right: 2rem;
	}

	.img_block {
		grid-area: i;
		padding: 3rem 13.6rem 0;
	}

	.wrapper_footer {
		grid-template-areas:
			"q m"
			"i i";
		gap: 0 0.7rem;
		grid-template-columns: none;
		grid-auto-columns: 1fr;
	}
}

@media (min-width: 320px) and (max-width: 767px) {

	header,
	main,
	footer {
		width: 100vw;
	}

	.wrapper {
		width: 92.5vw;
		padding: 0;
	}

	.filter_menu {
		background-color: #2D303A;
    opacity: 50%;
		width: calc(100vw - 320px);
    height: 200vh;
    position: fixed;
		z-index: 6;
		margin-top: -148px;
	}

	#menu__toggle {
		opacity: 0;
	}

	#menu__toggle:checked~.menu__btn>span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked~.menu__btn>span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked~.menu__btn>span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked~.header_menu_items {
		visibility: visible;
		right: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: absolute;
		top: 47px;
    right: 50px;
    width: 30px;
		height: 26px;
		cursor: pointer;
		z-index: 11;
	}

	.logo {
		position: absolute;
		z-index: 12;
	}

	.menu__btn>span,
	.menu__btn>span::before,
	.menu__btn>span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		transition-duration: .25s;
	}

	.menu__btn>span::before {
		content: '';
		top: -10px;
	}

	.menu__btn>span::after {
		content: '';
		top: 10px;
	}

	.header_menu_items {
		z-index: 10;
		display: block;
		position: fixed;
		visibility: hidden;
		text-align: center;
		top: 0;
		right: -100%;
		width: 320px;
		height: 100%;
		margin: 0;
		padding: 158px 0;
		font-size: 32px;
		background-color: #fff;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
		transition-duration: .25s;
	}

	.header_menu_item {
		display: block;
		padding: 40px 38px;
		transition-duration: .25s;
	}

	.wrapper_header {
		display: block;
	}

	.wrapper_header,
	section {
		padding: 0 0.65em;
		margin: 0;
	}

	header {
		padding-top: 1.75rem;
		padding-bottom: 5.7rem;
	}

	main {
		padding: 0;
	}

	.pets_h3 {
		font-size: 25px;
		padding: 6.5em 0em 1.7em;
	}

	#message_pet {
		display: block;
		left: 12%;
		max-width: 230px;
		padding: 10px;
	}

	.message_pet_img {
		display: none;
	}

	.pet_name,
	.pet_about {
		text-align: center;
		padding: 	0 0 10px;
	}

	.pet_description {
		font-size: 13px;
		text-align: justify;
		padding: 10px 0 24px;
	}

	.pet_item {
		padding-bottom: 5px;
	}

	.message_btn {
		top: 24%;
		left: 83.5%;
		cursor: pointer;
	}

	.layout_block {
		display: grid;
		grid-template-areas:
		"a"
		"a"
		"a";
		padding: 0 13px;
		gap: 30px 40px;
		max-height: 1365px;
		max-width: 271px;
		overflow: hidden;
	}

	.slider_btn {
		margin-bottom: 30px;
	}

	.pagination_block {
		padding: 2.5rem 0 2.66rem;
	}

	.pagination {
		margin-right: 0.3rem;
	}

	.end_pagination {
		margin-right: 0;
	}

	footer {
		padding-top: 31px;
	}

	.wrapper_footer {
		display: block;
	}

	.footer_h3 {
		text-align: center;
		margin: 0 7px 0 0;
	}

	.question_block,
	.map_block {
    padding: 0 0 14px 8px;
		margin: 0;
	}

	.footer_phone {
		padding: 10px 46px 10px 61px;
		margin-bottom: 22px;
	}

	.footer_map {
		padding: 2px 3px 0 43px;
		margin: 31px -11px;
	}

	.footer_map_2 {
		background-position: 0px 5px;
    padding: 9px 10px 8px 42px;
    margin: 0 -9px;
}

	.img_block > img {
		width: 100%;
	}

	.img_block {
		margin: 58px 18px 0 18px;
		padding: 0;
		padding-top: 14px;
	}
}