* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.wrapper {
	width: 62.5vw;
  padding: 0 40px;
  margin: 0 auto;
}

.wrapper_header,
.wrapper_start_screen,
.wrapper_about,
.wrapper_donation {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

section {
	margin: 0 auto;
	padding: 0 40px;
}

header {
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 49px;
	background: url('/shelter/assets/noise_transparent@2x.png'), linear-gradient(to right, #544336, #292929);
}

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	font-weight: normal;
}

.logo_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 10px 5px;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

a {
	color: #CDCDCD;
}

.header_menu_items {
	display: flex;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding-top: 20px;
	padding-left: 157px;
}

.active {
	border-bottom: 3px solid #F1CDB3;
	padding-bottom: 3px;
	color: #FFFFFF;
}

.start_screen {
	background: url('/shelter/assets/noise_transparent@2x.png'), linear-gradient(to right, #544336, #292929);
	margin-bottom: -4px;
}

.screen_text_h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 44px;
	color: #FFFFFF;
	font-weight: normal;
	line-height: 1.25em;
	padding: 166px 110px 44px 0;
}

.screen_text_info {
	color: #CDCDCD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5rem;
	letter-spacing: 0.01rem;
	padding: 0 33px 40px 0;
}

button {
	color: #292929;
	background-color: #F1CDB3;
	border: none;
	outline: none;
	width: 207px;
	height: 52px;
	border-radius: 26px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	letter-spacing: 0.06rem;
}

.about {
	background-color: #FFFFFF;
	padding-top: 80px;
	padding-bottom: 96px;
}

.about_img {
	margin-left: 175px;
}

.about_text {
	margin-right: 186px;
	margin-left: -5px;
}

.about_text_h3 {
	color: #545454;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
	font-weight: normal;
	padding-top: 17px;
	padding-right: 52px;
	padding-bottom: 26px;
	letter-spacing: 0.13rem;
	line-height: 2.7rem;
}

.about_text_info {
	color: #4C4C4C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5rem;
}

.p1 {
	padding-bottom: 25px;
}

.pets {
	background-color: #F6F6F6;
}

.pets_h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
	font-weight: normal;
	text-align: center;
	color: #545454;
	padding: 82px 370px 58px;
	line-height: 130%;
	letter-spacing: 0.13rem;
}

.slider_content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 90px;
	margin: 0 105px 60px;
}

.slider_block {
	position: relative;
}

.slider {
	text-align: center;
	background-color: #FAFAFA;
	border-radius: 12px;
}

.slider_img {
	padding: 30px 35px 26px;
}

.slider_name-pets {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	color: #545454;
	letter-spacing: 0.06rem;
	padding-bottom: 31px;
}

.slider_btn {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	color: #292929;
	border: 2px solid #F1CDB3;
	border-radius: 30px;
	background-color: transparent;
	width: 187px;
	margin-bottom: 30px;
}

.slider_arrow {
	width: 48px;
	height: 48px;
	border: 2px solid #F1CDB3;
	border-radius: 50%;
	position: absolute;
}

.arrow-left {
	top: 44%;
	left: 0;
}

.arrow-right {
	top: 44%;
	right: 0;
}

.slider_arrow > svg {
	padding: 21px 17px;
}

.pets_btn {
	width: 261px;
	margin: 0 470px 100px;
}

.media_layout {
	display: none;
}

.help {
	background-color: #ffffff;
}

.help_h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
	font-weight: normal;
	color: #545454;
	text-align: center;
	padding: 83px 440px 62px;
	letter-spacing: 0.06em;
	line-height: 125%;
}

.first_layout {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	text-align: center;
	margin: 0 91px;
}

.second_layout {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	text-align: center;
	margin: 51px 170px 0 171px;
	padding-bottom: 93px;
}

.layout_item {
	height: 113px;
}

.help_text {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: normal;
	color: #545454;
	padding-right: 0;
	padding-top: 26px;
	letter-spacing: 0.05em;
}

.donation {
	background-color: #F6F6F6;
	gap: 154px;
	padding-top: 83px;
	padding-bottom: 99px;
}

.donation_h3 {
	color: #545454;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
	font-weight: normal;
	padding-right: 223px;
	letter-spacing: 0.06em;
	line-height: 130%;
}

.donation_text_bank {
	color: #545454;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0.06em;
	padding-top: 18px;
	padding-bottom: 31px;
}

.donation_account {
	border: 1px solid #F1CDB3;
	border-radius: 9px;
	background-color: #F1CDB3;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	color: #545454;
	padding: 10px 15px 9px 60px;
	letter-spacing: 0.055em;
	background-image: url('/shelter/assets/credit-card.png');
	background-repeat: no-repeat;
	background-position: 14px 9px;
}

.dontation_text {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	color: #B2B2B2;
	padding-top: 32px;
	padding-right: 150px;
	line-height: 1.5em;
}

.donation_img {
	padding: 9px 30px 0 142px;
}

footer {
	padding-top: 32px;
	background: url('/shelter/assets/noise_transparent@2x.png'), linear-gradient(to right, #544336, #292929);
}

.wrapper_footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 114px;
}

.footer_h3 {
	color: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
}

.question_block,
.map_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-start;
	padding-top: 31px;
	margin-right: 14px;
}

.footer_link {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-size: 20px;
	color: #F1CDB3;
	padding-top: 0;
	margin-top: -20px;
}

.footer_email {
	padding: 10px 60px;
	background-image: url('/shelter/assets/icon-email.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	letter-spacing: 0.06em;
	margin-top: 33px;
}

.footer_phone {
	padding: 10px 60px;
	background-image: url('/shelter/assets/icon-phone.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	letter-spacing: 0.06em;
	margin-top: 30px;
}

.footer_map {
	padding: 1px 14px 0 41px;
	background-image: url('/shelter/assets/icon-marker.png');
	background-repeat: no-repeat;
	background-position: 0px 8px;
	letter-spacing: 0.06em;
	margin-top: 30px;
}

.footer_map_2 {
	padding: 60px 35px 10px 41px;
	background-image: url('/shelter/assets/icon-marker.png');
	background-repeat: no-repeat;
	background-position: 0px 55px;
	letter-spacing: 0.06em;
}

.img_block {
	padding-left: 24px;
	padding-top: 8px;
}

button:hover,
.donation_account:hover,
.slider_arrow:hover{
	background-color: #FDDCC4;
	cursor: pointer;
}

.slider_btn:hover,
.slider_arrow:hover {
	border-color: #FDDCC4;
}

h1 {
	cursor: pointer;
}

.header_menu_item > a:hover {
	color: #ffffff;
}

.slider:hover {
	background-color: #ffffff;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* media */

@media (min-width: 768px) and (max-width: 1279px) {

	.wrapper {
		width: 92.5vw;
	}

.wrapper_header {
		padding: 0 45px;
		grid-template-columns: 1fr 2fr;
	}

	header {
		padding-top: 30px;
		padding-bottom: 49px;
		margin: 0 -16px;
	}

	.header_menu_items {
		padding-left: 29px;
	}

	.wrapper_start_screen {
		display: block;
	}

	.wrapper_start_screen {
		padding: 0;
	}

	.start_screen {
		padding: 0 99px;
		margin: 0 -16px -4px -16px;
	}

	.screen_text_h2,
	.screen_text_info {
		padding: 0;
	}

	.screen_text_h2 {
		line-height: 1.3em;
		padding-right: 158px;
		padding-bottom: 40px;
	}

	.screen_text_info {
		padding-right: 100px;
		letter-spacing: 0;
	}

	.screen_text {
		padding: 0 71px;
	}

	.screen_btn {
		margin: 44px 126px;
	}

	.screen_img {
		padding: 56px 0 0 86px;
	}

	.screen_img > img {
    width: 91%;
	}

	.about {
		margin: 0 -16px;
	}

	.wrapper_about {
		display: flex;
		flex-direction: column-reverse;
	}

	.about_text {
		margin: -14px 30px 80px -37px;
		padding: 0 139px;
	}
	
	.about_img {
		margin-left: 170px;
	}

	.pets > .wrapper {
		width: 697px;
		padding: 0 12px;
		overflow: hidden;
	}

	.pets_h3 {
		padding: 80px 145px 50px;
	}

	.pets {
		margin: 0 -16px;
	}

	.slider_content {
		gap: 40px;
		width: 620px;
		overflow: hidden;
		padding: 10px 0 60px 58px;
		margin: 0;
	}

	.arrow-left {
		left: -1%;
		top: 40%;
	}

	.arrow-right {
		right: -1%;
		top: 40%;
	}

	.pets_btn {
		margin-left: 217px;
		margin-right: 217px;
	}

	.help_h3 {
		padding-left: 120px;
		padding-right: 220px;
	}

	.first_layout, .second_layout {
		display: none;
	}

	.media_layout {
		display: grid;
		grid-template-columns: repeat(3, minmax(170px, 1fr));
    grid-gap: 55px 60px;
    margin-left: -12px;
		margin-right: 90px;
		padding-bottom: 99px;
	}

	.layout_item {
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
	}

	.layout_item:nth-child(2) > svg {
		margin-right: 22px;	
	}
}