{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "parser": "babel-eslint",

  "extends": ["airbnb/base"],
  "rules": {
    "linebreak-style": 0,
    "semi": "error",
    "quotes": "error",
    "no-use-before-define": "off",
    "import/no-unresolved": "off",
  }
}