@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
}

header {
    background-color: black;
    color: white;
    position: relative;
}

.nav_header {
    padding: 41px 502px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 14px;
}

.image_header {
    position: absolute;
    top: 25px;
    left: 778px;
}

.nav_item {
    padding-right: 85px;
}

.nav_item:nth-child(2) {
    padding-right: 146px;
}

.nav_item:nth-child(3) {
    padding-left: 100px;
}

.first_section {
    color: white;
    background-image: url("assets/bg-image.png");
    margin-top: -98px;
}

h1 {
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.07em; 
    /* доделать letter */
    padding-top: 232px;
}

.text_first_section {
    font-size: 18px;
    text-align: center;
    padding-top: 23px;
    padding-left: 548px;
    padding-right: 548px;
    line-height: 134%;
}

.btn {
    background-color: #00AFDB;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 46px;
    width: 184px;
    text-transform: uppercase;
    margin-left: 707px;
    margin-top: 30px;
    outline: none;
}

.icon_items {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    text-align: center;
    margin-left: 700px;
    margin-right: 715px;
    margin-top: 183px;
    padding-bottom: 85px;
}