@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Inter", sans-serif;
  color: #dae0e0;
  line-height: 1.4;
  background-color: #3c3d3d;
  background-image: url(../images/starfield.jpg);
}

body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

#menu__toggle {
  display: none;
}

main {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "layout layout level_b" "editor editor level_b";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: minmax(max-content, 1fr);
      grid-template-rows: minmax(-webkit-max-content, 1fr);
      grid-template-rows: minmax(max-content, 1fr);
}

.editor {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: editor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1vw;
}

.layout_block {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: layout;
  min-height: 18vw;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  border-radius: 10px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(52, 3, 65, 0.5)), color-stop(rgba(4, 4, 231, 0.3)), color-stop(rgba(4, 4, 231, 0.3)), to(rgba(122, 124, 6, 0.3)));
  background-image: linear-gradient(90deg, rgba(52, 3, 65, 0.5), rgba(4, 4, 231, 0.3), rgba(4, 4, 231, 0.3), rgba(122, 124, 6, 0.3));
}

.ufo_answer {
  position: absolute;
  top: 12vw;
  right: 50vw;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-animation: ufo-fly 10s infinite;
          animation: ufo-fly 10s infinite;
}

.ufo_error {
  -webkit-animation: errorUfo 2s, ufo-fly 10s infinite;
          animation: errorUfo 2s, ufo-fly 10s infinite;
}

.ufo_win {
  -webkit-animation: winUfo 2s, ufo-fly 10s infinite;
          animation: winUfo 2s, ufo-fly 10s infinite;
}

@-webkit-keyframes ufo-fly {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: translate(100px) rotate(30deg);
            transform: translate(100px) rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes ufo-fly {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: translate(100px) rotate(30deg);
            transform: translate(100px) rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@-webkit-keyframes winUfo {
  0% {
    opacity: 1;
    background: url(../images/ufo_win.png) no-repeat;
  }
  100% {
    background: url(../images/ufo.png) no-repeat;
  }
}

@keyframes winUfo {
  0% {
    opacity: 1;
    background: url(../images/ufo_win.png) no-repeat;
  }
  100% {
    background: url(../images/ufo.png) no-repeat;
  }
}

@-webkit-keyframes errorUfo {
  0% {
    opacity: 1;
    background: url(../images/ufo_error.png) no-repeat;
  }
  100% {
    background: url(../images/ufo.png) no-repeat;
  }
}

@keyframes errorUfo {
  0% {
    opacity: 1;
    background: url(../images/ufo_error.png) no-repeat;
  }
  100% {
    background: url(../images/ufo.png) no-repeat;
  }
}

.circle {
  border-radius: 50%;
  position: relative;
}

.circle_hover {
  -webkit-box-shadow: 0 0 6px 5px rgba(184, 184, 184, 0.7);
          box-shadow: 0 0 6px 5px rgba(184, 184, 184, 0.7);
}

.circle:before {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 2;
}

.sun {
  width: 5.3vw;
  height: 5.3vw;
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  -webkit-animation: sun 2s 1s infinite;
          animation: sun 2s 1s infinite;
  background: radial-gradient(circle at 50% 120%, #f5e870, #eb6750 10%, #fbff1a 100%);
}

@-webkit-keyframes sun {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sun {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.mercury {
  width: 2.1vw;
  height: 2.1vw;
  position: absolute;
  top: 2.5vw;
  right: 7vw;
  background: -webkit-gradient(linear, left top, right top, from(#d4cfc9), to(#9999cc));
  background: linear-gradient(90deg, #d4cfc9 0%, #9999cc 100%);
  -webkit-animation: mercury 2s 1s infinite;
          animation: mercury 2s 1s infinite;
}

@-webkit-keyframes mercury {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#d4cfc9), to(#9999cc));
    background: linear-gradient(90deg, #d4cfc9 0%, #9999cc 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, left top, right top, from(#9999cc), to(#d4cfc9));
    background: linear-gradient(90deg, #9999cc 0%, #d4cfc9 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, left top, right top, from(#d4cfc9), to(#9999cc));
    background: linear-gradient(90deg, #d4cfc9 0%, #9999cc 100%);
  }
}

@keyframes mercury {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#d4cfc9), to(#9999cc));
    background: linear-gradient(90deg, #d4cfc9 0%, #9999cc 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, left top, right top, from(#9999cc), to(#d4cfc9));
    background: linear-gradient(90deg, #9999cc 0%, #d4cfc9 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, left top, right top, from(#d4cfc9), to(#9999cc));
    background: linear-gradient(90deg, #d4cfc9 0%, #9999cc 100%);
  }
}

.venus {
  width: 3.1vw;
  height: 3.1vw;
  position: absolute;
  top: 2.6vw;
  right: 11vw;
  background: -webkit-gradient(linear, right top, left top, color-stop(11%, #ff6699), to(#ff99ff));
  background: linear-gradient(-90deg, #ff6699 11%, #ff99ff 100%);
  -webkit-animation: venus 2s 1s infinite;
          animation: venus 2s 1s infinite;
}

@-webkit-keyframes venus {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, right top, left top, color-stop(11%, #ff6699), to(#ff99ff));
    background: linear-gradient(-90deg, #ff6699 11%, #ff99ff 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, right top, left top, color-stop(11%, #ff99ff), to(#ff6699));
    background: linear-gradient(-90deg, #ff99ff 11%, #ff6699 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, right top, left top, color-stop(11%, #ff6699), to(#ff99ff));
    background: linear-gradient(-90deg, #ff6699 11%, #ff99ff 100%);
  }
}

@keyframes venus {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, right top, left top, color-stop(11%, #ff6699), to(#ff99ff));
    background: linear-gradient(-90deg, #ff6699 11%, #ff99ff 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, right top, left top, color-stop(11%, #ff99ff), to(#ff6699));
    background: linear-gradient(-90deg, #ff99ff 11%, #ff6699 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, right top, left top, color-stop(11%, #ff6699), to(#ff99ff));
    background: linear-gradient(-90deg, #ff6699 11%, #ff99ff 100%);
  }
}

.earth {
  width: 2.6vw;
  height: 2.6vw;
  position: absolute;
  top: 3.4vw;
  right: 17vw;
  background: -webkit-gradient(linear, left top, right top, from(#66cc66), to(#2ae3fc));
  background: linear-gradient(90deg, #66cc66 0%, #2ae3fc 100%);
  -webkit-animation: earth 2s 1s infinite;
          animation: earth 2s 1s infinite;
}

@-webkit-keyframes earth {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#66cc66), to(#2ae3fc));
    background: linear-gradient(90deg, #66cc66 0%, #2ae3fc 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, left top, right top, from(#2ae3fc), to(#66cc66));
    background: linear-gradient(90deg, #2ae3fc 0%, #66cc66 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, left top, right top, from(#66cc66), to(#2ae3fc));
    background: linear-gradient(90deg, #66cc66 0%, #2ae3fc 100%);
  }
}

@keyframes earth {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#66cc66), to(#2ae3fc));
    background: linear-gradient(90deg, #66cc66 0%, #2ae3fc 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, left top, right top, from(#2ae3fc), to(#66cc66));
    background: linear-gradient(90deg, #2ae3fc 0%, #66cc66 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, left top, right top, from(#66cc66), to(#2ae3fc));
    background: linear-gradient(90deg, #66cc66 0%, #2ae3fc 100%);
  }
}

.moon {
  width: 0.8vw;
  height: 0.8vw;
  position: absolute;
  top: 3vw;
  right: 16vw;
  background: -webkit-gradient(linear, left top, right top, from(#5e5c5b), color-stop(50%, #474443), to(#b4b1ae));
  background: linear-gradient(90deg, #5e5c5b 0%, #474443 50%, #b4b1ae 100%);
  -webkit-animation: moon 2s 1s infinite;
          animation: moon 2s 1s infinite;
}

.mars {
  width: 2.1vw;
  height: 2.1vw;
  position: absolute;
  top: 4vw;
  right: 22vw;
  background: -webkit-gradient(linear, left top, right top, from(#ff8e44), color-stop(50%, #ff3300), to(#993300));
  background: linear-gradient(90deg, #ff8e44 0%, #ff3300 50%, #993300 100%);
  -webkit-animation: mars 2s 1s infinite;
          animation: mars 2s 1s infinite;
}

.fobos {
  width: 0.8vw;
  height: 0.8vw;
  position: absolute;
  top: 3.1vw;
  right: 21.1vw;
  background: -webkit-gradient(linear, left top, right top, from(#f3be9b), color-stop(50%, #70564f), to(#723c20));
  background: linear-gradient(90deg, #f3be9b 0%, #70564f 50%, #723c20 100%);
  -webkit-animation: moon 2s 1s infinite;
          animation: moon 2s 1s infinite;
}

.deimos {
  width: 0.8vw;
  height: 0.8vw;
  position: absolute;
  top: 4.5vw;
  right: 24.6vw;
  background: -webkit-gradient(linear, left top, right top, from(#f3be9b), color-stop(50%, #70564f), to(#665f5b));
  background: linear-gradient(90deg, #f3be9b 0%, #70564f 50%, #665f5b 100%);
  -webkit-animation: moon 2s 1s infinite;
          animation: moon 2s 1s infinite;
}

@-webkit-keyframes moon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  66% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes moon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  66% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@-webkit-keyframes mars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#ff8e44), color-stop(50%, #ff3300), to(#993300));
    background: linear-gradient(90deg, #ff8e44 0%, #ff3300 50%, #993300 100%);
  }
  33% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, left top, right top, from(#993300), color-stop(50%, #ff8e44), to(#ff3300));
    background: linear-gradient(90deg, #993300 0%, #ff8e44 50%, #ff3300 100%);
  }
  66% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, left top, right top, from(#ff3300), color-stop(50%, #993300), to(#ff8e44));
    background: linear-gradient(90deg, #ff3300 0%, #993300 50%, #ff8e44 100%);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: -webkit-gradient(linear, left top, right top, from(#ff8e44), color-stop(50%, #ff3300), to(#993300));
    background: linear-gradient(90deg, #ff8e44 0%, #ff3300 50%, #993300 100%);
  }
}

@keyframes mars {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#ff8e44), color-stop(50%, #ff3300), to(#993300));
    background: linear-gradient(90deg, #ff8e44 0%, #ff3300 50%, #993300 100%);
  }
  33% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, left top, right top, from(#993300), color-stop(50%, #ff8e44), to(#ff3300));
    background: linear-gradient(90deg, #993300 0%, #ff8e44 50%, #ff3300 100%);
  }
  66% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, left top, right top, from(#ff3300), color-stop(50%, #993300), to(#ff8e44));
    background: linear-gradient(90deg, #ff3300 0%, #993300 50%, #ff8e44 100%);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: -webkit-gradient(linear, left top, right top, from(#ff8e44), color-stop(50%, #ff3300), to(#993300));
    background: linear-gradient(90deg, #ff8e44 0%, #ff3300 50%, #993300 100%);
  }
}

.jupiter {
  width: 4.2vw;
  height: 4.2vw;
  position: absolute;
  top: 6vw;
  left: 23vw;
  background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(62%, #cc9966), to(#996666));
  background: linear-gradient(90deg, #ffffcc 0%, #cc9966 62%, #996666 100%);
  -webkit-animation: jupiter 2s 1s infinite;
          animation: jupiter 2s 1s infinite;
}

@-webkit-keyframes jupiter {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(62%, #cc9966), to(#996666));
    background: linear-gradient(90deg, #ffffcc 0%, #cc9966 62%, #996666 100%);
  }
  33% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, left top, right top, from(#996666), color-stop(62%, #ffffcc), to(#cc9966));
    background: linear-gradient(90deg, #996666 0%, #ffffcc 62%, #cc9966 100%);
  }
  66% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, left top, right top, from(#cc9966), color-stop(62%, #996666), to(#ffffcc));
    background: linear-gradient(90deg, #cc9966 0%, #996666 62%, #ffffcc 100%);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(62%, #cc9966), to(#996666));
    background: linear-gradient(90deg, #ffffcc 0%, #cc9966 62%, #996666 100%);
  }
}

@keyframes jupiter {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(62%, #cc9966), to(#996666));
    background: linear-gradient(90deg, #ffffcc 0%, #cc9966 62%, #996666 100%);
  }
  33% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: -webkit-gradient(linear, left top, right top, from(#996666), color-stop(62%, #ffffcc), to(#cc9966));
    background: linear-gradient(90deg, #996666 0%, #ffffcc 62%, #cc9966 100%);
  }
  66% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: -webkit-gradient(linear, left top, right top, from(#cc9966), color-stop(62%, #996666), to(#ffffcc));
    background: linear-gradient(90deg, #cc9966 0%, #996666 62%, #ffffcc 100%);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: -webkit-gradient(linear, left top, right top, from(#ffffcc), color-stop(62%, #cc9966), to(#996666));
    background: linear-gradient(90deg, #ffffcc 0%, #cc9966 62%, #996666 100%);
  }
}

.saturn {
  width: 4.2vw;
  height: 4.2vw;
  position: absolute;
  top: 8vw;
  left: 16vw;
  background: linear-gradient(60deg, #ff6666 0%, #ffcc66 50%, #cccc99 96%);
  -webkit-animation: saturn 2s 1s infinite;
          animation: saturn 2s 1s infinite;
}

@-webkit-keyframes saturn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: linear-gradient(60deg, #ff6666 0%, #ffcc66 50%, #cccc99 96%);
  }
  33% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: linear-gradient(60deg, #cccc99 0%, #ff6666 50%, #ffcc66 96%);
  }
  66% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: linear-gradient(60deg, #ffcc66 0%, #cccc99 50%, #ff6666 96%);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: linear-gradient(60deg, #ff6666 0%, #ffcc66 50%, #cccc99 96%);
  }
}

@keyframes saturn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: linear-gradient(60deg, #ff6666 0%, #ffcc66 50%, #cccc99 96%);
  }
  33% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: linear-gradient(60deg, #cccc99 0%, #ff6666 50%, #ffcc66 96%);
  }
  66% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: linear-gradient(60deg, #ffcc66 0%, #cccc99 50%, #ff6666 96%);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: linear-gradient(60deg, #ff6666 0%, #ffcc66 50%, #cccc99 96%);
  }
}

.rings {
  width: 1.7vw;
  height: 2vw;
  margin: 1.1vw;
  border-radius: 100%;
  background: radial-gradient(circle at 50% 50%, #ffffff 0%, #e2d8d1 30%, #88939b 100%);
  -webkit-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
          transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  -webkit-transform: translateX(6px) translateY(-4px) skewX(256deg) skewY(30deg);
          transform: translateX(6px) translateY(-4px) skewX(256deg) skewY(30deg);
}

.uran {
  width: 4.2vw;
  height: 4.2vw;
  position: absolute;
  top: 10vw;
  left: 9.5vw;
  background: linear-gradient(80deg, #5a8ab1 0%, #9999cc 100%);
  -webkit-animation: uran 2s 1s infinite;
          animation: uran 2s 1s infinite;
}

@-webkit-keyframes uran {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: linear-gradient(80deg, #5a8ab1 0%, #9999cc 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: linear-gradient(80deg, #9999cc 0%, #5a8ab1 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: linear-gradient(80deg, #5a8ab1 0%, #9999cc 100%);
  }
}

@keyframes uran {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: linear-gradient(80deg, #5a8ab1 0%, #9999cc 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: linear-gradient(80deg, #9999cc 0%, #5a8ab1 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: linear-gradient(80deg, #5a8ab1 0%, #9999cc 100%);
  }
}

.neptune {
  width: 4.2vw;
  height: 4.2vw;
  position: absolute;
  top: 12vw;
  left: 3vw;
  background: linear-gradient(80deg, #09bbfe 0%, #5a42ec 100%);
  -webkit-animation: neptune 2s 1s infinite;
          animation: neptune 2s 1s infinite;
}

@-webkit-keyframes neptune {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: linear-gradient(80deg, #09bbfe 0%, #5a42ec 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: linear-gradient(80deg, #5a42ec 0%, #09bbfe 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: linear-gradient(80deg, #09bbfe 0%, #5a42ec 100%);
  }
}

@keyframes neptune {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: linear-gradient(80deg, #09bbfe 0%, #5a42ec 100%);
  }
  50% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    background: linear-gradient(80deg, #5a42ec 0%, #09bbfe 100%);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    background: linear-gradient(80deg, #09bbfe 0%, #5a42ec 100%);
  }
}

.animation_stop {
  -webkit-animation: none;
          animation: none;
}

.css_block {
  background-color: #263238;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid white;
  width: 30vw;
  margin-right: 1rem;
}

.html_block {
  background-color: #0a0e14;
  position: relative;
  width: 33vw;
}

.html_text {
  position: absolute;
  top: 9.5%;
  left: 9%;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.6em;
  color: #fff;
}

.html_text div {
  padding-left: 0.9rem;
  cursor: pointer;
  color: aqua;
}

.css_text {
  top: 5.4vw;
  color: #88939b;
}

.numbers {
  font-size: 1rem;
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 1.5rem;
  padding: 0 0.35rem 0.1rem;
  border-right: 1px solid white;
}

.numbers li {
  padding-bottom: 0.12rem;
}

.title_html {
  font-size: 1em;
  padding: 0.5rem 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.level_block {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: level_b;
  background-color: transparent;
  border-left: 1px solid white;
  margin-left: 2rem;
  margin-top: 1rem;
  color: lightgray;
  text-align: center;
}

.level_title,
.level_nav,
.level_text {
  border-bottom: 1px solid white;
  padding: 1rem;
}

.level_title {
  text-align: center;
  font-size: 1.3rem;
}

.level_nav li {
  margin: 0.5em;
  padding: 0.7em;
  list-style: decimal;
  list-style-position: inside;
  text-align: left;
}

.level_nav li:hover {
  cursor: pointer;
  color: khaki;
}

.color_hover {
  color: white !important;
}

.level_text,
.facts_text {
  padding: 0.5rem;
  text-align: left;
  border-top: 1px solid white;
}

.level_text p,
.facts_text p {
  text-align: left;
}

.level_text span,
.facts_text span {
  background-color: #30ec94;
  color: black;
  padding: 0 0.3em;
  font-family: monospace;
}

.facts_text {
  font-size: 0.9rem;
}

.level_now {
  border-bottom: 1px solid white;
}

.right_answer {
  text-decoration: line-through;
  color: #66cc66;
}

.wrong_answer {
  color: lightsalmon;
}

.win_text {
  position: absolute;
  padding: 2rem;
}

.css_input_selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem;
}

.input_css {
  margin: 0 0 0 0.5rem;
  padding: 0.1rem;
  outline: none;
  border: none;
  width: 100%;
  background-color: honeydew;
  font-size: 1.05em;
}

.input_btn {
  padding: 0.05rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  color: white;
  background-color: #242424;
  outline: none;
}

.title {
  position: absolute;
  padding: 0.3em;
  font-size: 0.8em;
  background-color: #7fc4e4;
  color: black;
  border: 2px solid black;
  text-align: center;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.help_btn,
.reset_btn {
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  margin: 1rem 1rem 0.5rem;
  color: white;
  background-color: #242424;
  outline: none;
}

footer {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(88, 55, 97, 0.7)), color-stop(rgba(92, 92, 202, 0.5)), color-stop(rgba(4, 4, 231, 0.3)), to(rgba(122, 124, 6, 0.5)));
  background: linear-gradient(90deg, rgba(88, 55, 97, 0.7), rgba(92, 92, 202, 0.5), rgba(4, 4, 231, 0.3), rgba(122, 124, 6, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div {
  padding: 1rem 1rem 0 1rem;
}

.author {
  color: white;
}

.author a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

.logo_img {
  width: 20%;
  height: 20%;
}

@media (max-width: 1023px) and (min-width: 800px) {
  .title {
    padding: 0.2em;
    font-size: 0.7em;
  }
  .level_nav li {
    padding: 0.5em;
  }
  .filter_menu {
    background-color: #2D303A;
    opacity: 50%;
    width: 100vw;
    height: 200vh;
    position: fixed;
    z-index: 6;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .level_block {
    visibility: visible;
    right: 0;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 3vw;
    right: 3vw;
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    z-index: 11;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -10px;
  }
  .menu__btn > span::after {
    content: '';
    top: 10px;
  }
  .level_block {
    z-index: 10;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    height: 100%;
    margin: 0;
    padding-top: 3.5rem;
    background-image: url(../images/starfield.jpg);
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .ufo_answer > img {
    width: 100%;
  }
  .numbers,
  .html_text {
    font-size: 0.9rem;
  }
  .html_block,
  .css_block {
    width: 40vw;
  }
  .html_text {
    top: 10.3%;
    line-height: 1.13rem;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .title {
    padding: 0.2em;
    font-size: 0.6em;
  }
  .filter_menu {
    background-color: #2D303A;
    opacity: 50%;
    width: 100vw;
    height: 200vh;
    position: fixed;
    z-index: 6;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .level_block {
    visibility: visible;
    right: 0;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 3vw;
    right: 3vw;
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    z-index: 11;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -10px;
  }
  .menu__btn > span::after {
    content: '';
    top: 10px;
  }
  .level_block {
    z-index: 10;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    height: 100%;
    margin: 0;
    padding-top: 3.5rem;
    background-image: url(../images/starfield.jpg);
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .ufo_answer > img {
    width: 100%;
  }
  .numbers,
  .html_text {
    font-size: 0.9rem;
  }
  .html_block,
  .css_block {
    width: 40vw;
  }
  .html_text {
    top: 10.3%;
    line-height: 1.13rem;
  }
}

@media (max-width: 699px) and (min-width: 500px) {
  .title {
    padding: 0.2em;
    font-size: 0.6em;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layout_block {
    -ms-flex-preferred-size: 30vw;
        flex-basis: 30vw;
  }
  .filter_menu {
    background-color: #2D303A;
    opacity: 50%;
    width: 100vw;
    height: 200vh;
    position: fixed;
    z-index: 6;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .level_block {
    visibility: visible;
    right: 0;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 3vw;
    right: 3vw;
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    z-index: 11;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -10px;
  }
  .menu__btn > span::after {
    content: '';
    top: 10px;
  }
  .level_block {
    z-index: 10;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    height: 100%;
    margin: 0;
    padding-top: 3.5rem;
    background-image: url(../images/starfield.jpg);
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .ufo_answer {
    top: 20vw;
  }
  .ufo_answer > img {
    width: 100%;
  }
  .numbers,
  .html_text {
    font-size: 0.88rem;
  }
  .html_block,
  .css_block {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .html_text {
    top: 10.3%;
    line-height: 1rem;
  }
}
/*# sourceMappingURL=index.css.map */